<div id="container">

<a href="/gallery" class="homelink"><div id="triangle"></div></a>
<h1>Vfiles Photobooth Gallery</h1>

<%= will_paginate @photos %>

<ul id="gallery">
</ul>

<div id="photo">
<a href="#" id="prev">&larr; prev</a>
<a href="#" id="next">next &rarr;</a>
<br/>
<img/>
</div>

</div>

<script type="text/javascript">
var first_page = <%= @structure.to_json.html_safe %>;
</script>
