<div id="container">

<div id="triangle"></div>
<h1>Vfiles Photobooth Gallery</h1>

<ul>
<% @photos.each do |photo| %>
  <li>
  <%= image_tag(photo.photo.url(:thumb), :border => 0) %>
  </li>
<% end %>
</ul>

</div>
