<div id="container">

<a href="/gallery"><div id="triangle"></div></a>
<h1>Vfiles Photobooth Gallery</h1>

<%= will_paginate @photos %>

<ul>
<% @photos.each do |photo| %>
  <li id="photo_<%= photo.id %>">
  <%= link_to( image_tag(photo.photo.url(:thumb), :border => 0), :action => 'show', :id => photo.id ) %>
  <% if @admin %>
    <br/><button class="delete" data-id="<%= photo.id %>">Delete</button>
  <% end %>
  </li>
<% end %>
</ul>

</div>
