<div id="container">

<a href="/gallery"><div id="triangle"></div></a>
<h1>Vfiles Photobooth Gallery</h1>

<%= link_to "Back to gallery", "/gallery" %>
...
&larr;
<%= link_to "Previous", @previous_photo_link %>
<%= link_to "Next", @next_photo_link %>
&rarr;

<%= image_tag(@photo.photo.url(:original), :border => 0) %>

</div>
