<h1>styleblaster</h1>

<div id="square_container">
<a id="link"><img id="square"></a>
</div>
<div id="sidebar">
  <div id="date">
    <div id="day">&nbsp;</div>
    <div id="month">&nbsp;</div>
    <div id="time">&nbsp;</div>
  </div>

  <br>
  <div id="nav">
    <div id="hatbox">
      <img src="/assets/tophat.png" id="tophat">
      <div id="rad">rad!</div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &uarr; <i>click the top hat<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if they're stylin!</i><br><br>
    <!--
    <a id="back" class="nav">&larr; previous,</a>
    &nbsp;
    -->
    <a id="forward" class="nav">Previous style &rarr;</a>
  </div>
  <br>
  <br>
  <div id="score"></div>

  <div id="linx">
    Styleblaster is Williamsburg's premier
    live fashion blog, documenting the style of today.
    <br><br>
    <a id="about">About Styleblaster</a>
    <br>
    <div id="linx2">
    <a href="/popular" id="popular">Popular</a> &middot; <a href="/random" id="random">Random</a>
    </div>
    <br><br>
    <div id="social">
      <div class="fb-like" data-href="http://styleblaster.net/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" style="height: 24px; width: 95px;"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Live Williamsburg streetstyle -- Styleblaster" data-url="http://styleblaster.net/">Tweet</a>
    </div>
  </div>

</div>

<div id="curtain">
  <div id="manifesto">
    <span class="close">x</span>
    <h2>About Styleblaster</h2>
    <p>
      Since the early 2000s, Williamsburg has been a neighborhood popular with a new cultural elite, the heirs of the artists and hipsters who in years past were attracted by its location, one subway stop from Manhattan.
    </p>
    <p>
      Now in 2012, the neighborhood is poised on the cusp of a new change as the repercussions of recent zoning changes, combined with inland condo construction, have literally paved the way for a new breed of stylish and sassy individuals.  A place for the fashionable to be seen, Williamsburg's stretch of Bedford Avenue is often described as a modern Haight-Ashbury, a cultural mecca for the Millenial generation.
    </p>

    <p>
      To answer the changing times, we introduce Styleblaster, a realtime account of what people in Williamsburg are wearing.  Unlike a typical streetstyle blog, Styleblaster documents all -- the visiting fashion plates, the hipsters and have-nots, the native Polish and Italian proud who have for years called this neighborhood home.  And above all -- the dapper salarymen and businesswomen who stand to inherit the area.
    </p>

    <p>
      Situated a block from the hellmouth of the Bedford "L" subway train, our camera aims down the street, capturing Williamsburg on the hoof.  Moments after a person enters into the frame, the camera snaps, sending its image onto our blog.  For the online fashion browser, a boon: the blog updates in realtime, showcasing each new image as quick as it can be appraised.  Online viewers can watch a live feed, peruse a recent history of images, or compare shots over the days and weeks as FW-2012 blossoms into SS-2013.
    </p>

    <p>
      We believe this service fills a need for live fashion information, with a unique and unmatched vantage point on the hippest block in New York City.  It will quickly become a destination for New York City peacocks to traipse by and show off what makes the neighborhood hop.  For the savvy, a place to be seen.  For the flaneur, a bounty of style.  At home or online, fashion has a new destination.
    </p>

    <p>
      <a href="http://styleblaster.net/">http://styleblaster.net/</a><br>
      October 2012
    </p>

    <p id="created">
      <b>CREATED BY</b><br>
      <a href="http://www.familylobby.com/common/tt8372685fltt.gif">Mary Burford</a><br>
      <a href="http://jackkalish.com/">Jack Kalish</a><br>
      <a href="http://wheresthepixel.com/">Jules Laplace</a><br>
      <a href="http://hellainteractive.com/">Chico from Hella</a><br>
    </p>

    <p>
      <b>SOUNDTRACK BY</b><br>
      <a href="http://chickswithhitsmix.com/">Chicks With Hits</a>
    </p>

    <p>
      <b>KEYBOARD CONTROLS</b><br>
      &rarr; next image<br>
      &larr; prev. image<br>
      &uarr; random<br>
      &darr; latest
    </p>

    <p>
      <b>A <a href="http://hellainteractive.com/">HELLA INTERACTIVE</a> / <a href="http://okfoc.us/">OKFOCUS</a> JOINT</b>
    </p>

    <br>
  </div>
</div>

<script type="text/javascript">
var PLOPS = <%= @photos.to_json.html_safe %>;
</script>

<div id="fb-root"></div>
<script>
setTimeout(function(){
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113276355497144";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');

  (function(d,s,id){
    var js, fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src="//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);
    }
  })(document,"script","twitter-wjs");

  $("#social").delay(200).animate({ opacity: 1.0 }, 500);

}, 500);
</script>
