<h1>spookyblaster</h1>

<img src="/assets/cobweb.gif" id="cobweb">
<img src="/assets/moon.gif" id="moon">
<img src="/assets/bats.gif" id="bats">
<img src="/assets/tree.gif" id="tree">
<img src="/assets/death.gif" id="death">
<img src="/assets/spookybro.gif" id="spookybro">

<div id="square_container">
<a id="link"><img id="square"></a>
</div>
<div id="sidebar">
  <div id="date">
    <div id="day">&nbsp;</div>
    <div id="month">&nbsp;</div>
    <div id="time">&nbsp;</div>
  </div>

  <div id="nav">
    <div id="hatbox">
      <div id="tophat"></div>
      <div id="rad">rad!</div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &uarr; <i>click the top hat<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if they're spooky!</i><br><br>
    <!--
    <a id="back" class="nav">&larr; previous,</a>
    &nbsp;
    -->
    <a id="forward" class="nav">Previous ghost &rarr;</a>
    <br><br>
  </div>

  <div id="score"></div>

  <div id="linx">
  <% if @nighttime %>
<!--
    <span id="byebye">
      Spookyblaster is done for the night.<br>
      Check back tomorrow morning!
    </span>
-->
    <br>
  <% end %>

    Spookyblaster is Williamsburg's premier
    <b>haunted</b> fashion blog, documenting the creatures of the night.
    <br><br>
    <a id="about">About Spookyblaster</a>
    <br>
    <div id="linx2">
    <a href="/popular" id="popular">Scariest</a> &middot; <a href="/random" id="random">Random</a>
    </div>
    <br><br>
    <div id="social">
      <div class="fb-like" data-href="http://styleblaster.net/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" style="height: 24px; width: 95px;"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Live Williamsburg streetstyle -- Styleblaster" data-url="http://styleblaster.net/">Tweet</a>
    </div>
  </div>

</div>

<div id="curtain">
  <div id="manifesto">
    <span class="close">x</span>
    <h2>About Spookyblaster</h2>
    <p>
      Since the late 1600s, Williamsburg has been a neighborhood popular with a creepy underworld elite, the heirs of the monsters and demons who in years past haunted its location, one gruesome subway stop from Transylvania.
    </p>
    <p>
      Now in 2012, the neighborhood is poised on the cusp of a new change as the tintinnabulations of recent satanic rituals, combined with inland cobweb construction, have literally dug the way for a new breed of stylish and spooky ghosts.  A place for the unfathomable to be seen, Williamsburg's stretch of Bedford Avenue is often described as a modern Dracula's Castle, a bleak cultural mecca for the undead generation.
    </p>

    <p>
      To answer the changing times, we introduce Spookyblaster, a realtime account of what ghosts in Williamsburg are scaring.  Unlike a typical hauntology blog, Styleblaster documents all -- the visiting demonoids, the haunted and haunt-nots, the native Romanian and Carpathian proud who have for years called this neighborhood home.  And above all -- the dapper cryptkeepers and witches who stand to inherit the area.
    </p>

    <p>
      Situated a block from the hellmouth of the Bedford "L" ghost train, our camera peers down the street, capturing Williamsburg on the broom.  Moments after a ghost enters into the frame, the camera snaps, sending its image onto our bloody blog.  For the online ghost hunter, a boon: the blog updates in realtime, showcasing each new spirit as quickly as it can evaporate.  Online lurkers can watch a dead feast, peruse an ungodly history of images, or compare spooks over the nights and weeks as Halloween 2012 blossoms into All Saints Day 2013.
    </p>

    <p>
      We believe this service fills a "grave" need for urgent ghost information, with a unsettling and unmatched vantage point on the most haunted block in New York City.  It will soon become a destination for New York City zombies to shamble by and show off what makes the neighborhood pulse.  For the spooky, a place to scare.  For the possessed, a bounty of souls.  Underground or online, haunting has a new destination.
    </p>

    <p>
      <a href="http://styleblaster.net/">http://spookyblaster.net/</a><br>
      Halloween 2012
    </p>

    <p id="created">
      <b>CREATED BY</b><br>
      <a href="http://www.familylobby.com/common/tt8372685fltt.gif">Scary Burford</a><br>
      <a href="http://jackkalish.com/">Count Jackula</a><br>
      <a href="http://winslowporter.com/">Die-slow Porter</a><br>
      <a href="http://carbonpictures.com/">Ghouls Laplace</a>
    </p>

    <p>
      <b>SOUNDTRACK BY</b><br>
      <a href="http://chickswithhitsmix.com/">Ghosts With Hosts</a>
    </p>

    <p>
      <b>HOURS</b><br>
      9 AM to 5 PM
    </p>

    <p>
      <b>GET IN TOUCH . . . IF YOU DARE</b><br>
      Follow <a href="https://twitter.com/styleblaster">@spookyblaster</a> on Twitter.
    </p>

    <p>
      <b>KEYBOARD CONTROLS</b><br>
      &rarr; next image<br>
      &larr; prev. image<br>
      &uarr; random<br>
      &darr; latest
    </p>

    <p>
      <b>A <a href="http://hellainteractive.com/">HELLA SCARY INTERACTIVE</a> / <a href="http://okfoc.us/">OK-SPOOK-US</a> JOINT</b>
    </p>

    <br>
  </div>
</div>

<script type="text/javascript">
var PLOPS = <%= @photos.to_json.html_safe %>;
</script>

<div id="fb-root"></div>
<script>
setTimeout(function(){
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113276355497144";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');

  (function(d,s,id){
    var js, fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src="//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);
    }
  })(document,"script","twitter-wjs");

  $("#social").delay(200).animate({ opacity: 1.0 }, 500);

}, 500);
</script>
