<h1>stormblaster</h1>

<div id="square_container">
<a id="link"><img id="square"></a>
</div>
<div id="sidebar">
  <div id="date">
    <div id="day">&nbsp;</div>
    <div id="month">&nbsp;</div>
    <div id="time">&nbsp;</div>
  </div>

  <br>
  <div id="nav">
    <div id="hatbox">
      <img src="/assets/rainhat.png" id="tophat">
      <div id="rad">rad!</div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &uarr; <i>click the rain hat<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if they're stormy!</i><br><br>
    <!--
    <a id="back" class="nav">&larr; previous,</a>
    &nbsp;
    -->
    <a id="forward" class="nav">Previous blast &rarr;</a>
  </div>
  <br>
<!--
  <% if @nighttime %>
    <span id="byebye">
      Stormblaster's power is out for the night.<br>
      Check back tomorrow morning!
    </span>
  <% end %>
-->
  <br>
  <br>

  <div id="score"></div>

  <div id="linx">
    Stormblaster is Williamsburg's premier
    live disaster blog, documenting the hurricane of today.
    <br><br>
    <a id="about">About Stormblaster</a>
    <br>
    <div id="linx2">
    <a href="/popular" id="popular">Popular</a> &middot; <a href="/random" id="random">Random</a>
    </div>
    <br><br>
    <div id="social">
      <div class="fb-like" data-href="http://styleblaster.net/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" style="height: 24px; width: 95px;"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Live Williamsburg streetstyle -- Styleblaster" data-url="http://styleblaster.net/">Tweet</a>
    </div>
  </div>

</div>

<div id="curtain">
  <div id="manifesto">
    <span class="close">x</span>
    <h2>About Stormblaster</h2>
    <p>
      Since early last week, Williamsburg has been a neighborhood poised on the cusp of a new wave of streetstyle fashion, one subway stop from Manhattan.
    </p>
  
    <p>
      Now in late October 2012, the neighborhood is expecting a new deluge as the repercussions of an oncoming hurricane, combined with a looming nor'easter, have literally blown clear the way for a new breed of wet and inundated individuals.  A place for the fashionable to be drenched, Williamsburg's stretch of Bedford Avenue is often described as a modern-day Atlantis, a disaster touchstone for the Millenial generation.
    </p>

    <p>
      To answer the changing times, we introduce Stormblaster, a realtime account of how streets in Williamsburg are flooding.  Unlike your typical stormtracker blog, Stormblaster documents all -- the high winds, the downed trees and rainslicked streets, the plastic bags and copies of the <i>Village Voice</i> blown all the way from Manhattan.  And above all -- the brave men and women who for whatever reason are not holed up at home.
    </p>

    <p>
      Situated a block from the temporarily closed Bedford "L" subway train, our camera aims down the street, capturing Williamsburg throughout the disaster.  Moments after a person is blown into the frame, the camera snaps, sending its image onto our blog.  For the online storm voyeur, a boon: the blog updates in realtime, showcasing each new image as quick as it sweeps in.  Online viewers can watch a live feed, peruse a recent history of images, or compare shots across the day as the catastrophe ensues.
    </p>

    <p>
      We believe this service fills a need for live storm information, with a unique and unmatched vantage point on the rainiest block in New York City.  It will quickly become a destination for New York City raincoats to canoe by and show off what keeps the neighborhood afloat.  For the brave, a place to cheat death.  For the sensible, a way to see if the power is out.  At home or online, Hurricane Sandy has a new destination.
    </p>

    <p>
      <a href="http://styleblaster.net/">http://styleblaster.net/</a><br>
      October 2012
    </p>

    <p id="created">
      <b>CREATED BY</b><br>
      <a href="http://www.familylobby.com/common/tt8372685fltt.gif">Mary Burford</a><br>
      <a href="http://jackkalish.com/">Jack Kalish</a><br>
      <a href="http://winslowporter.com/">Winslow Porter</a><br>
      <a href="http://carbonpictures.com/">Jules Laplace</a>
    </p>

    <p>
      <b>SOUNDTRACK BY</b><br>
      <a href="http://chickswithhitsmix.com/">Chicks With Hits</a>
    </p>

    <p>
      <b>HOURS</b><br>
      9 AM to 5 PM
    </p>

    <p>
      <b>GET IN TOUCH</b><br>
      Follow <a href="https://twitter.com/styleblaster">@styleblaster</a> on Twitter.
    </p>

    <p>
      <b>KEYBOARD CONTROLS</b><br>
      &rarr; next image<br>
      &larr; prev. image<br>
      &uarr; random<br>
      &darr; latest
    </p>

    <p>
      <b>A <a href="http://hellainteractive.com/">HELLA INTERACTIVE</a> / <a href="http://okfoc.us/">OKFOCUS</a> JOINT</b>
    </p>

    <br>
  </div>
</div>

<script type="text/javascript">
var PLOPS = <%= @photos.to_json.html_safe %>;
</script>

<div id="fb-root"></div>
<script>
setTimeout(function(){
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113276355497144";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script', 'facebook-jssdk');

  (function(d,s,id){
    var js, fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src="//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);
    }
  })(document,"script","twitter-wjs");

  $("#social").delay(200).animate({ opacity: 1.0 }, 500);

}, 500);
</script>
