#gallery {
	width: 100%;
	height: 100%;
	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
	.sidebar {
		width: 200px;
		background: rgba(0,0,0,0.3);
	}
	.header {
		height: 100px;
		padding: 10px;
		font-size: 15px;
		color: #444;
		min-width: 750px;
		.time {
			min-width: 250px;
			display: inline-block;
		}
	}
	.items {
		background: #fff;
		padding: 10px;
		box-shadow: 0 inset;
		font-size: 20px;
	}
	.inner {
		min-width: 750px;
	}
	h5 {
		font-size: 24px;
		letter-spacing: -2px;
		display: inline;
		margin: 0 10px 0 0;
		line-height: 24px;
		color: #111;
	}
}



/*
#gallery {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#gallery .items {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -267px;
	width: 992px;
	background: white;
	min-height: 100%;
	width: 100%;
	margin-left: -496px;
}
*/

#gallery .items a {
	text-decoration: none;
	border: 0;
}
#gallery .items a:hover {
	text-decoration: none;
	border: 0;
}
#gallery .items img {
	display: inline-block;
	background: #fff;
	padding: 4px;
	box-shadow: 0 1px 2px #888;
	margin: 6px;
	width: 100px;
}
#gallery .items img:hover {
	box-shadow: 0 1px 2px #000;
}
.landscape #gallery .items img {
	width: 200px;
}

/*
#gallery .next {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 255px;
	margin-top: -307px;
	text-align: right;
	width: 200px;
}
#gallery .prev {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -486px;
	margin-top: -307px;
}
#gallery .next {
	font-size: 20px;
	color: #48f;
	font-family: georgia,serif;
	font-style: italic;
	text-decoration: underline;
}
#gallery .next:hover {
	color: #38f;
	border: 0;
}
*/
