
//= require reset

html,body {
  min-width: 100%;
  min-height: 100%;
  padding: 0; 
  margin: 0;
  overflow: auto;
  background-position: center center;

  background: #fcf4d1;
  background: -moz-radial-gradient(center, ellipse cover,  #fcf4e1 22%, #d9f3ff 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #fcf4e1 22%,#d9f3ff 100%);
  background: -o-radial-gradient(center, ellipse cover,  #fcf4e1 22%,#d9f3ff 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #fcf4e1 22%,#d9f3ff 100%);
  background: radial-gradient(ellipse at center,  #fcf4e1 22%,#d9f3ff 100%);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  top: 50%; left: 50%;
  margin-left: -284px;
  margin-top: 300px;
  color: white;
  font-size: 138px;
  line-height: 0;
  letter-spacing: -15px;
  color: #888;
  z-index: 2;
  display: inline;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(270deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(270deg);
  transform-origin: 0 0;
  transform: rotate(270deg);
}
h1:hover {
  color: #8f8388;
}
#square_container {
  position: absolute;
  width: 399px;
  top: 50%;
  left: 50%;
  margin-top: -310px;
  margin-left: -235px;
  padding: 10px;
  background: rgb(255,248,248);
  box-shadow: 0 2px 8px #112233;
  border-radius: 0 2px;
}
#square {
  height: 600px;
  width: 399px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
}
#sidebar {
  position: absolute;
  width: 200px;
  height: 580px;
  top: 50%;
  left: 50%;
  margin-top: -290px;
  margin-left: 203px;
}
#date {
  width: 100px;
  text-align: center;
  background: rgba(0,0,0,0.8);
  padding: 15px;
  border: 5px solid rgb(255,248,248);
  box-shadow: 0 1px 5px #112233;
}
#day {
  color: rgb(255,248,248);
  font-size: 25px;
}
#month {
  color: rgb(255,248,248);
  font-size: 14px;
  text-transform: uppercase;
}
#time {
  margin-top: 6px;
  padding-top: 5px;
  font-size: 14px;
  color: rgb(255,240,248);
  border-top: 1px solid white;
}
#tophat {
  width: 92px;
  height: 80px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  cursor: pointer;
}
#tophat:hover {
  -webkit-transform: scale(1.0) rotate(5deg);
  transform: scale(1.0) rotate(5deg);
}
#nav i {
  font-size: 13px;
}
#hatbox {
  width: 400px;
}
#rad {
  width: 300px;
  overflow: visible;
  font-size: 48px;
  color: #f6d;
  font-style: italic;
  font-family: georgia, serif;
  position: relative;
  top: -40px;
  left: 10px;
  text-shadow: 0 0 3px yellow, 0 0 3px yellow, 2px 2px 3px #ddd;
  display: inline-block;
  opacity: 0.0;
  line-height: 2px;
}
#linx {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #333;
  font-size: 14px;
  font-family: georgia, serif;
  font-style: italic;
}
#linx a {
  color: #41d;
  border-bottom: 1px dotted #41d;
}
#linx a:hover {
  color: #60f;
  border-bottom: 1px dotted #60f;
}
#nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#forward {
  font-size: 18px;
  color: #5344FF;
  border-bottom: 1px dotted #5344FF;
}
#forward:hover, #back:hover {
  color: #22f;
  border-bottom: 1px solid #22f;
}
#score {
  font-size: 12px;
  color: #888;
  opacity: 0.6;
}
#hatcount {
  position: relative;
  left: 5px;
  top: -5px;
  color: #666;
  font-weight: bold;
}
#linx2 {
  margin-top: 5px;
}
#linx2 a {
  color: #438;
  border-color: #438;
  font-family: georgia, serif;
  font-size: 13px;
  font-style: italic;
  padding-top: 5px;
}
h2 {
  font-size: 23px;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}
#curtain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 8;
  box-shadow: 0 0 100px #fff inset;
}
#manifesto {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -320px;
  width: 400px;
  height: 580px;
  overflow-y: auto;
  background: rgba(255,252,253,0.95);
  padding: 10px 40px 40px 40px;
  z-index: 8;
  box-shadow: 0 3px 10px rgba(10,20,30,0.5), -10px -10px 50px #fff inset;
}
#manifesto p {
  font-size: 13px;
  color: #444455;
  line-height: 18px;
}
.close {
  position: fixed;
  top: 50%;
  right: 50%;
  width: 15px;
  margin-top: -310px;
  margin-right: -185px;
  color: #444;
  cursor: pointer;
}
.close:hover {
  color: #000;
}

a {
  color: #333;
  font-size: 14px;
  font-family: georgia, serif;
  font-style: italic;
  cursor: pointer;
}
a[href] {
  color: #438;
  font-size: 13px;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
}
a[href]:hover {
  border-bottom: 1px solid #438;
}
#manifesto a {
  border-bottom: 1px dotted #34f;
}


#social {
  height: 24px; width: 210px;
  position: relative;
  left: -2px;
  opacity: 0.0;
}
a.twitter-share-button {
  display: none;
}
iframe.twitter-share-button {
  position: relative;
  top: 3px;
}
div.fb-like > span > iframe {
  width: 95px !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f4f4f4;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #ddd;
    -webkit-box-shadow: inset 0px -1px 3px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
