// Place all the styles related to the photobooth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require reset

#triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 60px solid #0ff;
  position: relative;
  top: 10px;
  display: inline-block;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

h1 {
  display: inline-block;
}

#container {
  width: 900px;
  margin: 0 auto;
}

ul {
  margin: 0; padding: 0;
}
li {
  margin: 0; padding: 0 5px 5px 0;
  list-style-type: none;
  float: left;
  cursor: pointer;
  cursor: hand;
  width: 133px;
  min-height: 100px;
}
li img {
  display: block;
}

#photo {
  display: none;
}
#photo img {
  width: 100%;
}

a.disabled {
  color: black;
  text-decoration: none;
}